@import "partials/header.scss";
@import "partials/footer.scss";


body {
	padding: 0;
	margin: 0;
	/*background-image: url('../../build/img/bgnoise_lg.png');*/
}

#dash-container {
	height: 100% !important;
	overflow: auto;
	padding:10px;
	margin-bottom: 20px;
	@include outer-container;
	@include span-columns(12);

	ul#bookmark-list {
		li {
			float: left;
			margin: 0 10px;
            -webkit-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.52);
            -moz-box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.52);
            box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.52);
			height: 200px;
			position: relative;
            border: 1px solid rgba(0,0,0, 0.2);

			&:hover {
				border: 1px solid rgba(0,0,0, 0.5);
			}

			.manga-bookmark {
				position: absolute;
				z-index: 100;
				margin-top: -5px;
			}
		}
	}
}
