.form-search {

  width: 500px;
  margin: 10px auto 20px auto;

  & input[type="text"] {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: none;
    box-shadow: none;
    border-left: none;
    border-right: none;
    padding: 20px 50px 10px 50px;
    text-align: center;
    border-radius: 0;
    color: darkgray;
    margin-top: 50px;

    & input:webkit-autofill {
        background-color: transparent !important;
    }
  }

  & input[type="submit"] {
    margin-left: 200px;
  }

}

form.search-bar {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-spacing: 1.5em !default;
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  //////////////////////////////////////////////////////////////////////////////////

  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);

  position: relative;

  input[type=search] {
    appearance: none;
    background-color: white;
    border: 1px solid $base-border-color;
    box-sizing: border-box;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    position: relative;
    transition: border-color;
    width: 100%;
  }

    .searchSubmit {
        padding: 10px;
        background-color: transparent;
        color: black;
    }

  button[type=submit] {
    @include position(absolute, 0 0 0 null);
    outline: none;
    padding: 5px 10px;

    img {
      height: 12px;
      opacity: 0.7;
    }
  }

}

.pagination {

    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-spacing: 1.5em !default;
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $large-screen: 53.75em !default;
    $base-font-color: $dark-gray !default;
    $pagination-border-color: $base-border-color;
    $pagination-border: 1px solid $pagination-border-color;
    $pagination-background: lighten($pagination-border-color, 10);
    $pagination-hover-background: lighten($pagination-background, 5);
    $pagination-color: $base-font-color;
    text-align: center;
    display: inline;

    li {
        display: none;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            display: inline;
        }

        @include media($large-screen) {
            display: inline;
        }

        a {
            background: $pagination-background;
            border-radius: $base-border-radius;
            border: $pagination-border;
            color: $pagination-color;
            outline: none;
            padding: ($base-spacing / 4) ($gutter / 2);
            text-decoration: none;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:focus {
                background: $pagination-hover-background;
                color: $action-color;
            }

            &:active {
                background: $pagination-background !important;
            }
        }

        &.active {
            background: $pagination-hover-background;
            color: $action-color;
            border-radius: 3px;
            border: 1px solid #ddd;
            outline: 0;
            padding: .375em .809em;
            font-weight: bold;
        }

        &.disabled {
            background: #f7f7f7;
            border-radius: 3px;
            border: 1px solid #ddd;
            color: #333;
            outline: 0;
            padding: .375em .809em;

            &:hover {
                background: $pagination-hover-background;
                color: $action-color;
            }
        }
    }

}
