#single-container {

    margin-top: 20px;
    @include outer-container;

    .data_aka {
        font-size: 14px;
    }

    #chapter_list {
        & li {
            display: none;
        }
    }

    #sidebar {

        @include span-columns(4);
        @include shift(2);
        position: relative;

        #manga-bookmark {
            color: rgba(0,0,0,0.7);
            position: absolute;
            margin-top: -5px;
            cursor: pointer;
        }

        .category_list {

            & li {
                float: left;
                margin-right: 5px;

                & a {
                    color: black;
                }

                & a:hover {
                    text-decoration: underline;
                }
            }

            & li + li:before {
                content: " / ";
            }

        }

    }

    #content-container {
        @include span-columns(5);
    }

    #loadMore {
        color:green;
        cursor:pointer;
    }

    #loadMore:hover {
        color:black;
    }
    #showLess {
        color:red;
        cursor:pointer;
    }
    #showLess:hover {
        color:black;
    }

}
